
### folders
.idea
.vscode
coverage
.nyc_output
node_modules
logs
dist/*
test/dist/*

### matching
*.log
*.tgz


### files
package-lock.json

### inverse
!dist/.gitkeep
!dist/readme.md
!test/dist/readme.md
