
### folders
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src
docs

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.dockerignore
.travis.yml
suman.conf.js
tsconfig*.json

### matching
*.log
*.md
*.tgz

