
### folders
node_modules
scripts
test
.idea
.vscode
coverage
.nyc_output
build/Release
src
docs
.tscmultiwatch
.docker.r2g
.circleci
.suman

### files
.editorconfig
.gitattributes
.gitignore
.npmignore
.dockerignore
.travis.yml
suman.conf.js
npm-link-up.json
.npm-link-up.json

### matching
*.log
Dockerfile*
*.md
*.tgz
tsconfig*.json

